################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/TeeUhr/obj/Release
/.vs
/TeeUhr/.vs/TeeUhr/v15
/TeeUhr/bin/Debug
/TeeUhr/obj/Debug
/DisplayIntTestStatistics/.vs
/DisplayIntTestStatistics/DisplayIntTestStatistics/bin
/DisplayIntTestStatistics/DisplayIntTestStatistics/obj
/CopyrightCorrection/.vs/CopyrightCorrection/v15
/CopyrightCorrection/CopyrightCorrection/bin/Debug
/CopyrightCorrection/CopyrightCorrection/obj/Debug
*.txt
/RegisterWebserver/.vs/RegisterWebserver/v15
/RegisterWebserver/RegisterWebserver/bin/Debug
/RegisterWebserver/RegisterWebserver/obj/Debug
