################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/TeeUhr/obj/Release
/.vs
/TeeUhr/.vs/TeeUhr/v15
