################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/TeeUhr/obj/Release
/.vs
/TeeUhr/.vs/TeeUhr/v15
/TeeUhr/bin/Debug
/TeeUhr/obj/Debug
/DisplayIntTestStatistics/.vs
/DisplayIntTestStatistics/DisplayIntTestStatistics/bin
/DisplayIntTestStatistics/DisplayIntTestStatistics/obj
/CopyrightCorrection/.vs/CopyrightCorrection/v15
/CopyrightCorrection/CopyrightCorrection/bin/Debug
/CopyrightCorrection/CopyrightCorrection/obj/Debug
*.txt
/RegisterWebserver/.vs/RegisterWebserver/v15
/RegisterWebserver/RegisterWebserver/bin/Debug
/RegisterWebserver/RegisterWebserver/obj/Debug
Zeiterfassung/.vs/Zeiterfassung/v15/.suo
Zeiterfassung/.vs/Zeiterfassung/v15/Browse.VC.db
Zeiterfassung/.vs/Zeiterfassung/v15/ipch/4692a2e85bd1a680.ipch
Zeiterfassung/.vs/Zeiterfassung/v15/ipch/208404c9a7b8f430.ipch
Zeiterfassung/Backup/Zeiterfassung.sln
Zeiterfassung/Backup/Zeiterfassung.v11.suo
Zeiterfassung/Debug
Zeiterfassung/ipch
Zeiterfassung/Release
Zeiterfassung/UpgradeLog.htm
Zeiterfassung/Zeiterfassung.aps
Zeiterfassung/Zeiterfassung.ncb
Zeiterfassung/Zeiterfassung.sdf
Zeiterfassung/Zeiterfassung.suo
Zeiterfassung/Zeiterfassung.v11.suo
Zeiterfassung/Zeiterfassung.vcproj
Zeiterfassung/Zeiterfassung.vcproj.Mobil-PC.Uwe.user
Zeiterfassung/Zeiterfassung.vcproj.WW004.pu3846.user
